/********** font montserrat **********/
@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

/********** font roboto **********/
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

/********** font roboto mono**********/
@mixin roboto-mono {
  font-family: "Roboto Mono", monospace;
}
