@import "../utils/mixins";

.navigation {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    @include montserrat;
  }

  span {
    display: block;
    text-align: right;
  }
}
