@import "../utils/mixins";
@import "../utils/variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;

  .homeTitle {
    span {
      @include roboto-mono;
      color: $fourth_color;
      font-size: 1.8em;
      font-weight: 400;
    }
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    a {
      text-decoration: none;
    }

    span {
      @include roboto-mono;
      color: $fourth500_color;
      font-size: 0.9em;
      display: block;
      text-align: right;
    }
    h2 {
      @include montserrat;
      color: $third_color;
      font-size: 1.2em;
      font-weight: 500;
    }
    .navEffect h2 {
      font-weight: 600;
      color: $secondary_color;
      position: relative;

      &::after {
        content: "";
        height: 2px;
        width: 0;
        background-color: $secondary_color;
        position: absolute;
        border-radius: 10px;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        animation: anim 400ms ease forwards;

        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
    .navEffect span {
      font-weight: 500;
      color: $fourth_color;
    }
  }
}
