@import "../utils/mixins";
@import "../utils/variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;

  .homeTitle {
    span {
      @include roboto-mono;
      color: $fourth_color;
      font-size: 1.5em;
      font-weight: 400;
    }
  }
}
